@import "./variable.less";

.divider(@backColor: @wite;) {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: @backColor;
  position: absolute;
  margin-top: 40px;
}

.headerBackground() {
  background: url(../image/Header.jpg) no-repeat;
}

.autoContent() {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.default_text(@size: 14px;) {
  color: @text_color;
  font-size: @size;
}

.btnDownload(@witeBtn: @wite, @backColorHover: @wite, @blackBtn:@black) {
  border: 1px solid @witeBtn;
  width: 67px;
  padding: 10px 30px;
  a {
    font-size: 15px;
    text-decoration: none;
    color: @wite;
  }
  &:hover {
    background-color: @backColorHover;
    a {
      color: @blackBtn;
    }
  }
}

.forma() {
  .text_box {
    position: relative;

    &:not(:last-child) {
      padding-bottom: 51px;
    }

    input {
      border: none;
      border-bottom: 1px solid @text_color;
      width: 100% - 2%;
      outline: none;
      &:focus + label {
        top: -30px;
      }
    }

    label {
      display: flex;
      position: absolute;
      top: 0;
      transition: top 0.5s ease;
      left: 12px;
      color: @text_color;
      z-index: 1;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }
  }
}

.btnForma() {
  border: none;
  background-color: @orange;
  width: 100%;
  padding: 25px 0;
  color: @wite;
  text-transform: capitalize;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: @hover_color;
  }
}

.mediaHeader(@content:80%, @widthH:100%, @imgWidth:175px, @fsH2:25px, @HWidth:54px, @margiH: 20px,
@textH:14px, @paddTopP:25px, @formP:18px, @formPPadd:35px, @formPaddOne:30px, @formPaddTwo:20px, 
@textBoxPaddBot:41px, @lableFonS:15px, @lablePothLeft:12px, @btnPadd:25px, @btnFonS:15px) {
  .header_content {
    width: @content;

    .content_header {
      width: @widthH;

      img {
        width: @imgWidth;
      }

      h2 {
        font-size: @fsH2;

        &::after {
          width: @HWidth;
          margin-top: @margiH;
        }
      }
      p {
        font-size: @textH;
        padding-top: @paddTopP;
      }
    }

    .header_forma {
      form {
        p {
          font-size: @formP;
          padding: 20px 20px 20px @formPPadd;
        }
        .field {
          padding: @formPaddOne @formPaddTwo;

          .text_box {
            &:not(:last-child) {
              padding-bottom: @textBoxPaddBot;
            }

            label {
              font-size: @lableFonS;
              left: 9px;
            }
          }
        }
        .btn {
          button {
            font-size: @btnFonS;
            padding: @btnPadd 0;
          }
        }
      }
    }
  }
}

.mediaNavs() {
  .list {
    position: relative;
    display: block;
    width: 40px;
    height: 22px;
    border-top: 2px solid @text_color;
    border-bottom: 2px solid @text_color;
    transition: border-top 0.05s ease;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      border-top: 2px solid @text_color;
    }

    &:hover {
      &::before {
        content: "";
        border-top: 2px solid @orange;
        transform: rotate(-45deg);
      }
      border: none;

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        border-top: 2px solid @orange;
        transform: rotate(45deg);
      }

      ul {
        display: block;
        position: absolute;
        left: -94px;
        top: 43px;
        border: 1px solid @black;
        background-color: @black;
        li {
          padding-bottom: 10px;
          padding-right: 47px;
        }
      }
    }

    ul {
      display: none;
    }
  }
}

.radio() {
  display: flex;
  input {
    appearance: none;
    border: 1px solid @black_two;
    background-color: @black_two;
    width: 0%;
    padding: 50px;
    border-radius: 5%;
    cursor: pointer;
    margin: 1px 0;

    &:checked {
      border: 1px solid @orange;
      background-color: @orange;
    }

    &:checked ~ .tab_text {
      display: block;
      width: 50%;
      margin-left: 150px;
      position: absolute;
      top: 0;
    }

    &::after {
      content: "Tab1";
      color: #fff;
      position: relative;
      margin: 0px auto;
      left: -17px;
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
    }
  }
}
