@import "./mixin.less";
@import "./variable.less";
@import "./media.less";

body {
  margin: 0;
  max-width: 1400px;
  margin: 0 auto;
  .navs {
    border: 1px solid @black;
    background-color: @black;

    .navs_content {
      .autoContent();
      justify-content: space-between;
      .default_text();
      padding: 20px;
      .list {
        ul {
          display: flex;
          margin: 0;
          padding-top: 7px;
          li {
            font-family: "Open Sans Semibold", Verdana, Geneva, Tahoma,
              sans-serif;
            font-size: 14px;
            list-style: none;
            cursor: pointer;
            &:not(:last-child) {
              padding-right: 45px;
            }
            &:hover {
              color: @orange;
            }
          }
        }
      }
    }

    .nav_media();
  }

  .header_conteiner {
    .headerBackground();

    .header_content {
      .autoContent();
      padding-top: 165px;
      padding-bottom: 173px;
      .content_header {
        h2 {
          font-family: "Raleway";
          font-weight: 100;
          font-size: 36px;
          width: 79%;
          color: @wite;

          &::after {
            .divider();
          }
        }

        p {
          .default_text(16px);
          width: 79%;
          padding-top: 40px + 5px;
        }

        .download {
          .btnDownload();
        }
      }
    }

    .header_forma {
      border-radius: 5px;
      background-color: white;
      overflow: hidden;
      width: 70%;
      form {
        p {
          font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
          font-weight: 100;
          border: 1px solid #f5f5f5;
          background-color: #f5f5f5;
          padding: 20px 20px 20px 35px;
          margin: 0;
          color: #333333;
          font-size: 20px;

          span {
            color: @orange;
          }
        }

        .field {
          padding: 40px 30px;
          .forma();
        }

        .btn {
          button {
            .btnForma();
          }
        }
      }
    }

    .header_media();
  }

  .brand_bar {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);

    .brand_bar_content {
      .autoContent();

      .brand_bar_text {
        width: 34%;
        h4 {
          margin-bottom: 0;
          font-size: 20px;
          text-transform: capitalize;
        }

        p {
          margin-top: 5px;
          .default_text();
        }
      }

      .brand_bar_social {
        margin-top: 26px;
        a {
          &:not(:last-child) {
            padding-right: 63px;
          }
          font-size: 48px;
          color: @text_color;
          &:hover {
            color: @orange;
          }
        }
      }
    }

    .brand_bar_media();
  }

  .features {
    background-color: @backgraundColor;
    .features_content {
      position: relative;
      .autoContent();
      padding-top: 114px;
      padding-bottom: 114px;
      justify-content: space-between;

      .features_tab {
        .tab_one {
          .radio();
        }
        .tab_two {
          .radio();
        }
        .tab_tree {
          .radio();
        }
      }
    }

    .features_media();
  }

  .our_process {
    .our_process_content {
      .autoContent();
      display: block;
      padding-top: 114px;
      padding-bottom: 114px;
      .our_process_header {
        .header_standart();
      }

      .our_process_text {
        display: flex;
        text-align: center;
        padding-top: 83px;
        .our_process_box {
          &:not(:first-child) {
            padding-left: 20px;
          }
          h4 {
            font-size: 20px;
          }

          p {
            .default_text();
          }
        }
      }
    }

    .our_process_media();
  }

  .pricing {
    background-color: @backgraundColor;
    .pricing_content {
      .autoContent();
      display: block;
      padding-top: 114px;
      padding-bottom: 114px;
      .pricing_header {
        .header_standart();
      }
      .pricing_slot {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 83px;
        .pricing_slot_one {
          .slot();
        }
        .pricing_slot_two {
          .slot();
          ul {
            li {
              &:nth-child(4) {
                padding: 14px;
                color: @wite;
              }
            }
          }
        }
        .pricing_slot_tree {
          .slot();
        }
      }
    }

    .pricing_media();
  }

  .testimonials {
    .testimonials_content {
      .autoContent();
      display: block;
      padding-top: 114px;
      padding-bottom: 114px;
      .testimonials_header {
        .header_standart();
      }
      .testimonials_commit {
        display: flex;
        padding-top: 60px;
        justify-content: space-between;
        .commit {
          .text_commit {
            p {
              width: 273px;
              border: 1px solid @backgraundColor;
              background-color: @backgraundColor;
              padding: 20px 13px;
              border-radius: 10px;
              margin-bottom: 20px;
              position: relative;
              z-index: 1;

              .default_text();
              font-style: italic;

              &::after {
                content: "";
                position: absolute;
                left: 20px;
                bottom: -20px;
                border: 10px solid transparent;
                border-top: 10px solid @backgraundColor;
              }
            }
          }
        }
        .avatar {
          display: flex;
          img {
            width: 70px;
          }
          .brief_information {
            flex-direction: column;
            padding-left: 13px;
            padding-top: 25px;

            h4 {
              margin: 0;
              font-size: 20px;
            }
            p {
              margin: 0;
              .default_text();
            }
          }
        }
      }
    }

    .testimonials_media();
  }

  .custom_section {
    .headerBackground(url(../image/bacgraund.jpg));
    .custom_section_content {
      .autoContent();
      padding-top: 78px;
      padding-bottom: 65px;

      display: block;
      .custom_section_header {
        .header_standart();
        h2 {
          color: @wite;

          &::after {
            .divider();
            position: static;
            margin: 20px auto;
          }
        }
      }
      .custom_section_btn {
        padding-top: 37px;
        .download {
          .btnDownload();
          margin: 0 auto;
        }
      }
    }

    .custom_section_media();
  }

  .contact_us {
    .contact_us_content {
      .autoContent();
      display: block;
      padding-top: 114px;
      padding-bottom: 114px;
      .contact_us_header {
        .header_standart();
      }
      .contant_us_forma {
        padding-top: 95px;
        form {
          .field {
            display: flex;
            justify-content: space-between;
            .user_forma {
              width: 47%;
              .forma(49px);
            }
            .user_message {
              width: 47%;
              .text_box {
                position: relative;

                &:not(:last-child) {
                  padding-bottom: 51px;
                }

                textarea {
                  border: none;
                  border-bottom: 1px solid @text_color;
                  width: 100% - 2%;
                  outline: none;
                  resize: none;
                  &:focus + label {
                    top: -30px;
                  }
                }

                label {
                  display: flex;
                  position: absolute;
                  top: 0;
                  transition: top 0.5s ease;
                  left: 12px;
                  color: @text_color;
                  z-index: 1;
                  font-size: 14px;

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }

          .btn {
            padding-top: 42px;
            width: 12%;
            margin: 0 auto;
            button {
              .btnForma();
              border-radius: 5px;
            }
          }
        }
      }
    }

    .contact_us_media();
  }

  .footer {
    background-color: @black;
    text-align: center;
    .footer_content {
      width: 90%;
      margin: 0 auto;
      .footer_social {
        padding-top: 40px;
        a {
          &:not(:last-child) {
            padding-right: 31px;
          }
          font-size: 24px;
          color: @text_color;
          &:hover {
            color: @orange;
          }
        }
      }
      .footer_copyright {
        padding: 15px 0;
        p {
          margin: 0;
          .default_text(12px);
        }
      }
    }

    .footer_media();
  }
}
