body {
  margin: 0;
  max-width: 1400px;
  margin: 0 auto;
}
body .navs {
  border: 1px solid #000;
  background-color: #000;
}
body .navs .navs_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #bfbdbe;
  font-size: 14px;
  padding: 20px;
}
body .navs .navs_content .list ul {
  display: flex;
  margin: 0;
  padding-top: 7px;
}
body .navs .navs_content .list ul li {
  list-style: none;
  cursor: pointer;
}
body .navs .navs_content .list ul li:not(:last-child) {
  padding-right: 45px;
}
body .navs .navs_content .list ul li:hover {
  color: #ff8b38;
}
@media (min-width: 300px) and (max-width: 1000px) {
  body .navs .navs_content {
    width: 90%;
  }
  body .navs .navs_content .list {
    position: relative;
    display: block;
    width: 40px;
    height: 22px;
    border-top: 2px solid #bfbdbe;
    border-bottom: 2px solid #bfbdbe;
    transition: border-top 0.05s ease;
  }
  body .navs .navs_content .list::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    border-top: 2px solid #bfbdbe;
  }
  body .navs .navs_content .list:hover {
    border: none;
  }
  body .navs .navs_content .list:hover::before {
    content: "";
    border-top: 2px solid #ff8b38;
    transform: rotate(-45deg);
  }
  body .navs .navs_content .list:hover::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    border-top: 2px solid #ff8b38;
    transform: rotate(45deg);
  }
  body .navs .navs_content .list:hover ul {
    display: block;
    position: absolute;
    left: -94px;
    top: 43px;
    border: 1px solid #000;
    background-color: #000;
  }
  body .navs .navs_content .list:hover ul li {
    padding-bottom: 10px;
    padding-right: 47px;
  }
  body .navs .navs_content .list ul {
    display: none;
  }
}
body .header_conteiner {
  background: url(../image/Header.jpg) no-repeat;
}
body .header_conteiner .header_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 165px;
  padding-bottom: 179px;
}
body .header_conteiner .header_content .content_header h2 {
  font-size: 36px;
  width: 79%;
  color: #fff;
}
body .header_conteiner .header_content .content_header h2::after {
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  margin-top: 40px;
}
body .header_conteiner .header_content .content_header p {
  color: #bfbdbe;
  font-size: 16px;
  width: 79%;
  padding-top: 45px;
}
body .header_conteiner .header_content .content_header .download {
  border: 1px solid #fff;
  width: 67px;
  padding: 10px 30px;
}
body .header_conteiner .header_content .content_header .download a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
body .header_conteiner .header_content .content_header .download:hover {
  background-color: #fff;
}
body .header_conteiner .header_content .content_header .download:hover a {
  color: #000;
}
body .header_conteiner .header_forma {
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  width: 50%;
}
body .header_conteiner .header_forma form p {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 20px 20px 20px 35px;
  margin: 0;
  color: #333333;
  font-size: 20px;
}
body .header_conteiner .header_forma form p span {
  color: #ff8b38;
}
body .header_conteiner .header_forma form .field {
  padding: 40px 30px;
}
body .header_conteiner .header_forma form .field .text_box {
  position: relative;
}
body .header_conteiner .header_forma form .field .text_box:not(:last-child) {
  padding-bottom: 51px;
}
body .header_conteiner .header_forma form .field .text_box input {
  border: none;
  border-bottom: 1px solid #bfbdbe;
  width: 98%;
  outline: none;
}
body .header_conteiner .header_forma form .field .text_box input:focus + label {
  top: -30px;
}
body .header_conteiner .header_forma form .field .text_box label {
  display: flex;
  position: absolute;
  top: 0;
  transition: top 0.5s ease;
  left: 12px;
  color: #bfbdbe;
  z-index: 1;
  font-size: 14px;
}
body .header_conteiner .header_forma form .field .text_box label:focus {
  outline: none;
}
body .header_conteiner .header_forma form .btn button {
  border: none;
  background-color: #ff8b38;
  width: 100%;
  padding: 25px 0;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
body .header_conteiner .header_forma form .btn button:focus {
  outline: none;
}
body .header_conteiner .header_forma form .btn button:hover {
  background-color: #d2600f;
}
@media (min-width: 1000px) and (max-width: 1250px) {
  body .header_conteiner .header_content {
    width: 80%;
  }
  body .header_conteiner .header_content .content_header {
    width: 100%;
  }
  body .header_conteiner .header_content .content_header img {
    width: 175px;
  }
  body .header_conteiner .header_content .content_header h2 {
    font-size: 25px;
  }
  body .header_conteiner .header_content .content_header h2::after {
    width: 54px;
    margin-top: 20px;
  }
  body .header_conteiner .header_content .content_header p {
    font-size: 14px;
    padding-top: 25px;
  }
  body .header_conteiner .header_content .header_forma form p {
    font-size: 18px;
    padding: 20px 20px 20px 35px;
  }
  body .header_conteiner .header_content .header_forma form .field {
    padding: 30px 20px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box:not(:last-child) {
    padding-bottom: 41px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box label {
    font-size: 15px;
    left: 9px;
  }
  body .header_conteiner .header_content .header_forma form .btn button {
    font-size: 15px;
    padding: 25px 0;
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  body .header_conteiner .header_content {
    width: 90%;
  }
  body .header_conteiner .header_content .content_header {
    width: 100%;
  }
  body .header_conteiner .header_content .content_header img {
    width: 25%;
  }
  body .header_conteiner .header_content .content_header h2 {
    font-size: 19px;
  }
  body .header_conteiner .header_content .content_header h2::after {
    width: 44px;
    margin-top: 20px;
  }
  body .header_conteiner .header_content .content_header p {
    font-size: 12px;
    padding-top: 25px;
  }
  body .header_conteiner .header_content .header_forma form p {
    font-size: 13px;
    padding: 20px 20px 20px 15px;
  }
  body .header_conteiner .header_content .header_forma form .field {
    padding: 20px 10px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box:not(:last-child) {
    padding-bottom: 31px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box label {
    font-size: 11px;
    left: 9px;
  }
  body .header_conteiner .header_content .header_forma form .btn button {
    font-size: 13px;
    padding: 18px 0;
  }
}
@media (min-width: 300px) and (max-width: 750px) {
  body .header_conteiner .header_content {
    display: block;
    padding-top: 70px;
    padding-bottom: 72px;
  }
  body .header_conteiner .header_content .content_header {
    text-align: center;
  }
  body .header_conteiner .header_content .content_header h2 {
    width: 100%;
    margin-bottom: 0;
  }
  body .header_conteiner .header_content .content_header h2::after {
    position: static;
    margin: 0 auto;
  }
  body .header_conteiner .header_content .content_header p {
    margin-top: 0;
    width: 100%;
  }
  body .header_conteiner .header_content .content_header .download {
    margin: 0 auto;
  }
  body .header_conteiner .header_content .header_forma {
    width: 100%;
    margin-top: 20px;
  }
  body .header_conteiner .header_content .header_forma p {
    text-align: center;
  }
  body .header_conteiner .header_content {
    width: 95%;
  }
  body .header_conteiner .header_content .content_header {
    width: 100%;
  }
  body .header_conteiner .header_content .content_header img {
    width: 175px;
  }
  body .header_conteiner .header_content .content_header h2 {
    font-size: 19px;
  }
  body .header_conteiner .header_content .content_header h2::after {
    width: 40px;
    margin-top: 10px;
  }
  body .header_conteiner .header_content .content_header p {
    font-size: 12px;
    padding-top: 15px;
  }
  body .header_conteiner .header_content .header_forma form p {
    font-size: 16px;
    padding: 20px 20px 20px 15px;
  }
  body .header_conteiner .header_content .header_forma form .field {
    padding: 20px 10px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box:not(:last-child) {
    padding-bottom: 31px;
  }
  body .header_conteiner .header_content .header_forma form .field .text_box label {
    font-size: 14px;
    left: 9px;
  }
  body .header_conteiner .header_content .header_forma form .btn button {
    font-size: 13px;
    padding: 18px 0;
  }
}
body .brand_bar {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}
body .brand_bar .brand_bar_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
body .brand_bar .brand_bar_content .brand_bar_text {
  width: 34%;
}
body .brand_bar .brand_bar_content .brand_bar_text h4 {
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}
body .brand_bar .brand_bar_content .brand_bar_text p {
  margin-top: 5px;
  color: #bfbdbe;
  font-size: 14px;
}
body .brand_bar .brand_bar_content .brand_bar_social {
  margin-top: 26px;
}
body .brand_bar .brand_bar_content .brand_bar_social a {
  font-size: 48px;
  color: #bfbdbe;
}
body .brand_bar .brand_bar_content .brand_bar_social a:not(:last-child) {
  padding-right: 63px;
}
body .brand_bar .brand_bar_content .brand_bar_social a:hover {
  color: #ff8b38;
}
body .features .features_content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 114px;
  margin-bottom: 114px;
}
body .features .features_content .features_tab .tab_one {
  display: flex;
}
body .features .features_content .features_tab .tab_one .tab_text {
  display: none;
}
body .features .features_content .features_tab .tab_one .tab_text .download {
  border: 1px solid #ff8b38;
  width: 67px;
  padding: 10px 30px;
  background-color: #ff8b38;
}
body .features .features_content .features_tab .tab_one .tab_text .download a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
body .features .features_content .features_tab .tab_one .tab_text .download:hover {
  background-color: #d2600f;
}
body .features .features_content .features_tab .tab_one .tab_text .download:hover a {
  color: #fff;
}
body .features .features_content .features_tab .tab_one input {
  appearance: none;
  border: 1px solid #333;
  background-color: #333;
  width: 0%;
  padding: 50px;
  border-radius: 5%;
  cursor: pointer;
  margin: 1px 0;
}
body .features .features_content .features_tab .tab_one input:checked {
  border: 1px solid #ff8b38;
  background-color: #ff8b38;
}
body .features .features_content .features_tab .tab_one input:checked ~ .tab_text {
  display: block;
  width: 50%;
  margin-left: 150px;
  position: absolute;
  top: 0;
}
body .features .features_content .features_tab .tab_one input::after {
  content: "Tab1";
  color: #fff;
  position: relative;
  margin: 0px auto;
  left: -17px;
  text-transform: uppercase;
}
body .features .features_content .features_tab .tab_one input:focus {
  outline: none;
}
body .features .features_content .features_tab .tab_two {
  display: flex;
}
body .features .features_content .features_tab .tab_two .tab_text {
  display: none;
}
body .features .features_content .features_tab .tab_two input {
  appearance: none;
  border: 1px solid #333;
  background-color: #333;
  width: 0%;
  padding: 50px;
  border-radius: 5%;
  cursor: pointer;
  margin: 1px 0;
}
body .features .features_content .features_tab .tab_two input:checked {
  border: 1px solid #ff8b38;
  background-color: #ff8b38;
}
body .features .features_content .features_tab .tab_two input:checked ~ .tab_text {
  display: block;
  width: 50%;
  margin-left: 150px;
  position: absolute;
  top: 0;
}
body .features .features_content .features_tab .tab_two input::after {
  content: "Tab1";
  color: #fff;
  position: relative;
  margin: 0px auto;
  left: -17px;
  text-transform: uppercase;
}
body .features .features_content .features_tab .tab_two input:focus {
  outline: none;
}
body .features .features_content .features_tab .tab_tree {
  display: flex;
}
body .features .features_content .features_tab .tab_tree .tab_text {
  display: none;
}
body .features .features_content .features_tab .tab_tree input {
  appearance: none;
  border: 1px solid #333;
  background-color: #333;
  width: 0%;
  padding: 50px;
  border-radius: 5%;
  cursor: pointer;
  margin: 1px 0;
}
body .features .features_content .features_tab .tab_tree input:checked {
  border: 1px solid #ff8b38;
  background-color: #ff8b38;
}
body .features .features_content .features_tab .tab_tree input:checked ~ .tab_text {
  display: block;
  width: 50%;
  margin-left: 150px;
  position: absolute;
  top: 0;
}
body .features .features_content .features_tab .tab_tree input::after {
  content: "Tab1";
  color: #fff;
  position: relative;
  margin: 0px auto;
  left: -17px;
  text-transform: uppercase;
}
body .features .features_content .features_tab .tab_tree input:focus {
  outline: none;
}
